{% extends "../_base.html" %}

{% block modal %}
<div id="authentication-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">

                <button type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5" id="form-wrapper">
                <form method="POST" id="form" class="space-y-4">
                    {% csrf_token %}
                    <div>
                        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Title</label>
                        <input type="text" name="title" id="title"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required />
                    </div>
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Description</label>
                    <textarea id="description" rows="4" name="description" required
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>

                    <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select
                        Status</label>
                    <select id="status" name="status" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose an option</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                        <option value="Overdue">Overdue</option>
                    </select>

                    <label for="priority" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select
                        Priority</label>
                    <select id="priority" name="priority" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose an option</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Category</label>
                        <input type="text" name="category" id="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required />
                    </div>
                    <!-- <div>
                        <label for="assigned_to" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Assigned To</label>
                        <input type="text" name="assigned_to" id="assigned_to"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required />
                    </div> -->

                    <label for="assigned_to" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Assigned to</label>
                    <select id="assigned_to" name="priority" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose an option</option>
                        {% for obj in all_users %}
                        <option value={{obj.id}}>{{obj.email}}</option>
                        {% endfor %}
                    </select>

                    <div>
                        <label for="due_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Due Date</label>
                        <input type="date" name="due_date" id="due_date"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required />
                    </div>


                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // post task
    var form = document.getElementById('form-wrapper')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('Form submitted')
        var url = 'http://localhost:5000/api/v1/tasks/'

        var csrftoken = getCookie('csrftoken');

        var title = document.getElementById('title').value
        var description = document.getElementById('description').value
        var status = document.getElementById('status').value
        var priority = document.getElementById('priority').value
        var due_date = document.getElementById('due_date').value
        var category = document.getElementById('category').value
        var assigned_to = document.getElementById('assigned_to').value
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'title': title,
                'description': description,
                'status': status,
                'priority': priority,
                'due_date': due_date,
                'category': category,
                'assigned_to': assigned_to
            })
        }
        ).then(function (response) {
            // buildList()
            document.getElementById('form').reset()
        })
    })

    // Update Task
    function editTask(id, title, description, status, priority, due_date, assigned_to) {
        $("#title").val(title);
        $("#description").val(description);
        $("#status").val(status);
        $("#priority").val(priority);
        $("#due_date").val(due_date);
        $("#category").val(category);
        $("#assigned_to").val(assigned_to);
    }

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        var title = $('#title').val();
        var description = $('#description').val();
        var status = $('#status').val();
        var priority = $('#priority').val();
        var due_date = $('#due_date').val();
        var category = $('#category').val();
        var assigned_to = $('#assigned_to').val();
        $.ajax({
            url: 'http://localhost:5000/api/v1/tasks/' + id + '/',
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                title: title,
                description: description,
                status: status,
                priority: priority,
                due_date: due_date,
                category: category,
                assigned_to: assigned_to,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            }),
            success: function () {
                alert('Updated Successfully');
            },
            error: function () {
                alert('Failed to update task');
            }
        });
    });

    // Delete Task
    function deleteTask(id) {
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            url: 'http://localhost:5000/api/v1/tasks/' + id + '/',
            method: 'DELETE',
            data: {
                'csrfmiddlewaretoken': getCookie('csrftoken'), // Add the CSRF token here
            },
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            success: function (mydata) {
                console.log('deleted', mydata);
            },
            error: function (error) {
                alert(error);
            }
        });
    }

</script>
{% endblock modal %}

{% block content %}
<br /><br />
<div class="container mx-auto">
    <div class="grid grid-cols-3 gap-2">
        <button
            class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">In
            Proress</button>
        <button
            class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Completed
        </button>
        <button
            class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">
            Overdue</button>
    </div>
    <div class="grid grid-cols-3 gap-2">
        <div id="in_progress"
            class="flex flex-wrap items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 ">

            <script>
                $(document).ready(function () {
                    setInterval(function () {
                        $.ajax({
                            type: 'GET',
                            url: 'http://localhost:5000/api/v1/tasks/tasks_in_progress/',
                            success: function (response) {
                                console.log(response);
                                $("#in_progress").empty();
                                for (var key in response) {
                                    // var temp = "<p>" + response[key].title + "</p>";
                                    var temp = `
                                    
                                    <span class="my-2">
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].priority}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].due_date}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].category}</button>
                                        </span>
                                    <div class="bg-white rounded shadow max-w-md mx-auto px-4 py-2">
        <header class="p-4">
            <h3 class="text-lg font-bold">${response[key].title}</h3>
        </header>
        <section>
            <p class="text-sm text-gray-600 p-4">${response[key].description}</p>
        </section>
        <footer class="p-4" id="tbody">
            <button id="btn-view" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-eye"></i></button>
            <button onclick="deleteTask('${response[key].id}')" id="btn-delete" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-trash"></i></button>
            <button onclick="editTask('${response[key].id}','${response[key].title}')" id="btn-edit" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-regular fa-pen-to-square"></i></button>
            <div class="flex">
                <div class="flex justify-end mr-2">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/32.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/33.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/women/32.jpg" alt="">
                    <span
                        class="flex items-center justify-center bg-white dark:bg-gray-800 text-sm text-gray-800 dark:text-white font-semibold border-2 border-gray-200 dark:border-gray-700 rounded-full h-8 w-8">
                        +999
                    </span>
                </div>
            </div>
        </footer>
    </div> `
                                    $("#in_progress").append(temp);
                                }
                            },
                            error: function (response) {
                                console.log("an error occured")
                            }
                        });
                    }, 1000);
                });
            </script>
        </div>

        <div id="completed" class="flex flex-wrap items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">

            <script>
                $(document).ready(function () {
                    setInterval(function () {
                        $.ajax({
                            type: 'GET',
                            url: 'http://localhost:5000/api/v1/tasks/tasks_completed/',
                            success: function (response) {
                                console.log(response);
                                $("#completed").empty();
                                for (var key in response) {
                                    var temp = `
                                    <span class="my-2">
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].priority}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].due_date}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].category}</button>
                                        </span>

                                    <div class="bg-white rounded shadow max-w-md mx-auto px-4 py-2">
        <header class="p-4">
            <h3 class="text-lg font-bold">${response[key].title}</h3>
        </header>
        <section>
            <p class="text-sm text-gray-600 p-4">${response[key].description}</p>
        </section>
        <footer class="p-4" id="tbody">
            <button id="btn-view" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-eye"></i></button>
            <button onclick="deleteTask('${response[key].id}')" id="btn-delete" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-trash"></i></button>
            <button id="btn-edit" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-regular fa-pen-to-square"></i></button>
            <div class="flex">
                <div class="flex justify-end mr-2">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/32.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/33.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/women/32.jpg" alt="">
                    <span
                        class="flex items-center justify-center bg-white dark:bg-gray-800 text-sm text-gray-800 dark:text-white font-semibold border-2 border-gray-200 dark:border-gray-700 rounded-full h-8 w-8">
                        +999
                    </span>
                </div>
            </div>
        </footer>
    </div>
                                    `
                                    $("#completed").append(temp);
                                }
                            },
                            error: function (response) {
                                console.log("an error occured")
                            }
                        })
                    }, 1000)
                })
            </script>

            <!-- </div> -->
        </div>


        <div id="overdue" class="flex flex-wrap items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 ">

            <script>
                $(document).ready(function () {
                    setInterval(function () {
                        $.ajax({
                            type: 'GET',
                            url: 'http://localhost:5000/api/v1/tasks/tasks_overdue/',
                            success: function (response) {
                                console.log(response);
                                $("#overdue").empty();
                                for (var key in response) {
                                    // var temp = "<p>" + response[key].title + "</p>";
                                    var temp = `
                                    <span class="my-2">
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].priority}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].due_date}</button>
                                        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">${response[key].category}</button>
                                        </span>
                                    <div class="bg-white rounded shadow max-w-md mx-auto px-4 py-2">
        <header class="p-4">
            <h3 class="text-lg font-bold">${response[key].title}</h3>
        </header>
        <section>
            <p class="text-sm text-gray-600 p-4">${response[key].description}</p>
        </section>
        <footer class="p-4" id="tbody">
            <button id="btn-view" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-eye"></i></button>
            <button onclick="deleteTask('${response[key].id}')" id="btn-delete" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-solid fa-trash"></i></button>
            <button id="btn-edit" data-sid="${response[key].id}" class="float-right mr-3"><i class="fa-regular fa-pen-to-square"></i></button>
            <div class="flex">
                <div class="flex justify-end mr-2">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/32.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/men/33.jpg" alt="">
                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-8 w-8 -mr-2"
                        src="https://randomuser.me/api/portraits/women/32.jpg" alt="">
                    <span
                        class="flex items-center justify-center bg-white dark:bg-gray-800 text-sm text-gray-800 dark:text-white font-semibold border-2 border-gray-200 dark:border-gray-700 rounded-full h-8 w-8">
                        +999
                    </span>
                </div>
            </div>
        </footer>
    </div>
                                    `
                                    $("#overdue").append(temp);
                                }
                            },
                            error: function (response) {
                                console.log("an error occured")
                            }
                        });
                    }, 1000);
                });
            </script>
        </div>

    </div>
</div>


{% endblock content %}